@font-face {
  font-family: 'MasterPortalFont';
  src: local('MasterPortalFont'),
       url('./lato.woff2') format('woff2');
}

@font-face {
  font-family: 'MasterPortalFont Bold';
  src: url('./latoBold.woff2') format('woff2');
}

@font-face {
  font-family: 'MasterPortalFont Italic';
  src: local('MasterPortalFont Italic'),
       url('./latoItalic.woff2') format('woff2'); 
}