@font-face {
  font-family: 'berlin_icons';
  src: url('../font/berlin_icons.eot?36834077');
  src: url('../font/berlin_icons.eot?36834077#iefix') format('embedded-opentype'),
       url('../font/berlin_icons.woff2?36834077') format('woff2'),
       url('../font/berlin_icons.woff?36834077') format('woff'),
       url('../font/berlin_icons.ttf?36834077') format('truetype'),
       url('../font/berlin_icons.svg?36834077#berlin_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "berlin_icons" !important;
  position: relative;
  top: 0px;
  left: 0;
  font-size: 24px; /* adjust icon size here */
}

.icon-b_gleichheitszeichen_1_n_rgb-1:before { content: '\e800'; } /* '' */
.icon-b_uhr_halbe-stunde_12_n_rgb-1:before { content: '\e801'; } /* '' */
.icon-b_sonne_10_n_rgb-1:before { content: '\e802'; } /* '' */
.icon-b_icon_alex_n_rgb-1:before { content: '\e803'; } /* '' */
.icon-b_icon_parkplatz_n_rgb-1:before { content: '\e804'; } /* '' */
.icon-b_flagge_5_n_rgb-1:before { content: '\e805'; } /* '' */
.icon-b_tachometer_7_n_rgb-1:before { content: '\e806'; } /* '' */
.icon-b_icon_party_n_rgb-1:before { content: '\e807'; } /* '' */
.icon-b_haken_2_n_rgb-1:before { content: '\e808'; } /* '' */
.icon-b_icon_bauen_n_rgb-1:before { content: '\e809'; } /* '' */
.icon-b_icon_e-mobility_n_rgb-1:before { content: '\e80a'; } /* '' */
.icon-b_icon_brandenburger_tor_n_rgb-1:before { content: '\e80b'; } /* '' */
.icon-b_icon_regenbogen_n_rgb-1:before { content: '\e80c'; } /* '' */
.icon-b_icon_zusammenarbeit_n_rgb-1:before { content: '\e80d'; } /* '' */
.icon-b_verbot_3_n_rgb-1:before { content: '\e80e'; } /* '' */
.icon-b_zahnrad_4_n_rgb-1:before { content: '\e80f'; } /* '' */
.icon-b_icon_rollator_n_rgb-1:before { content: '\e810'; } /* '' */
.icon-b_icon_flugzeug_n_rgb-1:before { content: '\e811'; } /* '' */
.icon-b_herz_4_n_rgb-1:before { content: '\e812'; } /* '' */
.icon-b_icon_auszeichnung_n_rgb-1:before { content: '\e813'; } /* '' */
.icon-b_icon_blumenstrauss_n_rgb-1:before { content: '\e814'; } /* '' */
.icon-b_icon_lebenswerte_stadt_n_rgb-1:before { content: '\e815'; } /* '' */
.icon-b_lautsprecher_9_n_rgb-1:before { content: '\e816'; } /* '' */
.icon-b_icon_peace_n_rgb-1:before { content: '\e817'; } /* '' */
.icon-b_icon_fahrrad_n_rgb-1:before { content: '\e818'; } /* '' */
.icon-b_icon_mensch_n_rgb-1:before { content: '\e819'; } /* '' */
.icon-b_notizblock_8_n_rgb-1:before { content: '\e81a'; } /* '' */
.icon-b_icon_mikroskop_n_rgb-1:before { content: '\e81b'; } /* '' */
.icon-b_icon_noten_n_rgb-1:before { content: '\e81c'; } /* '' */
.icon-b_icon_gluehbirne_n_rgb-1:before { content: '\e81d'; } /* '' */
.icon-b_icon_klimaschutz_n_rgb-1:before { content: '\e81e'; } /* '' */
.icon-b_icon_siegerpodest_n_rgb-1:before { content: '\e81f'; } /* '' */
.icon-b_kreuz_9_n_rgb-1:before { content: '\e820'; } /* '' */
.icon-b_teilen_3_n_rgb-1:before { content: '\e821'; } /* '' */
.icon-b_icon_mundschutz_n_rgb-1:before { content: '\e822'; } /* '' */
.icon-b_icon_genderzeichen_n_rgb-1:before { content: '\e823'; } /* '' */
.icon-b_wolke_6_n_rgb-1:before { content: '\e824'; } /* '' */
.icon-b_icon_wurst_n_rgb-1:before { content: '\e825'; } /* '' */
.icon-b_information_5_n_rgb-1:before { content: '\e826'; } /* '' */
.icon-b_icon_bahn_n_rgb-1:before { content: '\e827'; } /* '' */
.icon-b_icon_smiley_n_rgb-1:before { content: '\e828'; } /* '' */
.icon-b_icon_burger_n_rgb-1:before { content: '\e829'; } /* '' */
.icon-b_icon_checkpoint_n_rgb-1:before { content: '\e82a'; } /* '' */
.icon-b_icon_sneaker_n_rgb-1:before { content: '\e82b'; } /* '' */
.icon-b_icon_ffp2_maske_n_rgb-1:before { content: '\e82c'; } /* '' */
.icon-b_icon_buch_n_rgb-1:before { content: '\e82d'; } /* '' */
.icon-b_icon_treppe_n_rgb-1:before { content: '\e82e'; } /* '' */
.icon-b_icon_europafahne_n_rgb-1:before { content: '\e82f'; } /* '' */
.icon-b_lupe_7_n_rgb-1:before { content: '\e830'; } /* '' */
.icon-b_icon_rotes_rathaus_n_rgb-1:before { content: '\e831'; } /* '' */
.icon-b_icon_menschengruppe_n_rgb-1:before { content: '\e832'; } /* '' */
.icon-b_internet_2_n_rgb-1:before { content: '\e833'; } /* '' */
.icon-b_icon_rollstuhl_begleitperson_n_rgb-1:before { content: '\e834'; } /* '' */
.icon-b_icon_stadtplan_n_rgb-1:before { content: '\e835'; } /* '' */
.icon-b_icon_geld_n_rgb-1:before { content: '\e836'; } /* '' */
.icon-b_richtung_6_n_rgb-1:before { content: '\e837'; } /* '' */
.icon-b_icon_kinderwagen_n_rgb-1:before { content: '\e838'; } /* '' */
.icon-b_icon_science_n_rgb-1:before { content: '\e839'; } /* '' */
.icon-b_icon_doener_n_rgb-1:before { content: '\e83a'; } /* '' */
.icon-b_icon_berlin_n_rgb-1:before { content: '\e83b'; } /* '' */
.icon-b_icon_berliner_mauer_n_rgb-1:before { content: '\e83c'; } /* '' */
.icon-b_icon_euro_n_rgb-1:before { content: '\e83d'; } /* '' */
.icon-b_standort_1_n_rgb-1:before { content: '\e83e'; } /* '' */
.icon-b_icon_wohnungsbau_n_rgb-1:before { content: '\e83f'; } /* '' */
.icon-b_icon_bier_n_rgb-1:before { content: '\e840'; } /* '' */
.icon-b_icon_wirtschaft_n_rgb-1:before { content: '\e841'; } /* '' */
.icon-b_stern_8_n_rgb-1:before { content: '\e842'; } /* '' */
.icon-b_icon_weihnachtsbaum_n_rgb-1:before { content: '\e843'; } /* '' */
.icon-b_icon_fotokamera_n_rgb-1:before { content: '\e844'; } /* '' */
.icon-b_icon_digitalisierung_n_rgb-1:before { content: '\e845'; } /* '' */
.icon-b_icon_rollstuhl_n_rgb-1:before { content: '\e846'; } /* '' */
.icon-b_icon_rucksack_n_rgb-1:before { content: '\e847'; } /* '' */
.icon-b_icon_siegessaeule_n_rgb-1:before { content: '\e848'; } /* '' */
.icon-b_icon_alarm_n_rgb-1:before { content: '\e849'; } /* '' */
.icon-b_uhr_volle-stunde_11_n_rgb-1:before { content: '\e84a'; } /* '' */
.icon-b_icon_ehrenamt_n_rgb-1:before { content: '\e84b'; } /* '' */
.icon-b_icon_einhorn_n_rgb-1:before { content: '\e84c'; } /* '' */
.icon-b_icon_kochmuetze_n_rgb-1:before { content: '\e84d'; } /* '' */
.icon-b_icon_tram_n_rgb-1:before { content: '\e84e'; } /* '' */
.icon-b_icon_beratung_n_rgb-1:before { content: '\e84f'; } /* '' */